body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    color:cadetblue;
    text-decoration: none;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    display: block;
}

.content1 {
    background-color: lightgrey;
    color: lightslategray;
    height: auto;
    width: 475px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

.content2 {
    background-color: lightgrey;
    height: 330px;
    width: 475px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

.content3 {
    background-color: lightgrey;
    height: 300px;
    width: 475px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

input {
    display: block;
    margin: auto;
}

#save-score {
    display: block;
    margin: auto;
}

#final-score {
    font-size: x-large;
}

.display-none {
    display: none;
}

p {
    margin: 20px;
    text-align: center;
    color: gray;
}

#start {
    justify-content: center;
    height: 50px;
    width: 90px;
    font-size: x-large;
    justify-content: center;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 15px;
    color: white;
    display: block;
    border: none;
    margin: auto;
}


h2 {
    text-align: center;
    color: gray;
}

ul {
    list-style-type: none;
}

.buttons button{
    background-color: cadetblue;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    color: white;
}

#save-score {
    background-color: cadetblue;
    border: none;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    color: white;
}

button:hover {
    opacity: 0.5;
}

.button:active {    
    
}


/* High Scores Page*/

#high-scores {
    text-align: center;
}

#highscores {
    text-align: center;
    padding: 0px;
}
